# Ignore compiled files
**/dist/

# Ignore node_modules
**/node_modules/

# Ignore package-lock.json
**/yarn.lock

# Ignore any IDE or editor specific files
**# Ignore compiled files
**/dist/

# Ignore node_modules
**/node_modules/

# Ignore package-lock.json
**/yarn.lock

# Ignore any IDE or editor specific files
**.idea/
.vscode/

# ignore environment variables and api keys
.env
geminiKey.json